# run = "next dev"
# build = "next build"
# [deployment]
# run = "next start"
# deploymentTarget = "cloudrun"
# postinstall = "next build"

# [[ports]]
# localPort = 3000
# externalPort = 80

run = "bun dev"
build = "bun build"
modules = ["bun-1.1", "nodejs-20", "bun-1.2"]
[nix]
channel = "stable-24_05"

[env]
NEXT_TELEMETRY_DISABLED = "1"

[deployment]
build = ["sh", "-c", "bun run build"]
run = ["sh", "-c", "bun run start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 3003
externalPort = 3003

[workflows]
runButton = "Run App"

[[workflows.workflow]]
name = "Run App"
author = 16457168

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun --bun run dev -- -H 0.0.0.0"
