# run = "next dev"
# build = "next build"
# [deployment]
# run = "next start"
# deploymentTarget = "cloudrun"
# postinstall = "next build"

# [[ports]]
# localPort = 3000
# externalPort = 80

run = "next dev"
build = "next build"
modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"

[env]
NEXT_TELEMETRY_DISABLED = "1"

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
