run = "npm run dev"
build = "npm run build"
modules = ["nodejs-20", "web"]

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run build"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[env]
REPLIT_NODEJS_PACKAGE_LAYER = "1"
